USE [master]
GO
/****** Object:  Database [Consultorio_Medico2]    Script Date: 26/10/2019 14:43:36 ******/
CREATE DATABASE [Consultorio_Medico2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consultorio_Medico2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Consultorio_Medico2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Consultorio_Medico2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Consultorio_Medico2_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consultorio_Medico2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Consultorio_Medico2]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[ID_Cita] [int] NOT NULL,
	[ID_Paciente] [int] NOT NULL,
	[ID_Medico] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horario]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[ID_Horario] [int] NOT NULL,
	[Hora_Apertura] [time](7) NOT NULL,
	[Hora_Clausura] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Informacion_Medico]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Informacion_Medico](
	[ID_Medico] [int] NOT NULL,
	[Especialidad] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Domicilio] [varchar](100) NOT NULL,
	[Disponible] [varchar](2) NOT NULL,
	[Ingreso_A_Tienda] [date] NOT NULL,
	[Tiempo_Trabajo] [int] NOT NULL,
	[Salario] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[ID_Medico] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido_Paterno] [varchar](50) NOT NULL,
	[Apellido_Materno] [varchar](50) NOT NULL,
	[Nombre_Completo_Medico]  AS (((([Apellido_Paterno]+' ')+[Apellido_Materno])+' ')+[Nombre]),
	[Edad] [int] NOT NULL,
	[Especialidad] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[ID_Paciente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido_Paterno] [varchar](50) NOT NULL,
	[Apellido_Materno] [varchar](50) NOT NULL,
	[Nombre_Completo_Paciente]  AS (((([Apellido_Paterno]+' ')+[Apellido_Materno])+' ')+[Nombre]),
	[Edad] [int] NOT NULL,
	[Registrado] [varchar](2) NOT NULL CONSTRAINT [Restriccion_Registrado]  DEFAULT ('No'),
PRIMARY KEY CLUSTERED 
(
	[ID_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente_Registrado]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente_Registrado](
	[ID_Paciente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido_Paterno] [varchar](50) NOT NULL,
	[Apellido_Materno] [varchar](50) NOT NULL,
	[Nombre_Completo_Paciente]  AS (((([Apellido_Paterno]+' ')+[Apellido_Materno])+' ')+[Nombre]),
	[Edad] [int] NOT NULL,
	[Domicilio] [varchar](100) NOT NULL,
	[Enfermedades] [varchar](2) NOT NULL CONSTRAINT [Default_Enfermedades]  DEFAULT ('SE'),
	[Padecimientos] [varchar](255) NULL,
	[Alergias] [varchar](2) NOT NULL,
	[Tipo_Alergias] [varchar](255) NULL,
	[Telefono] [int] NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[Antecedentes_Familiares] [varchar](2) NOT NULL,
	[Tipos_Antecedentes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente_Registrado2]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente_Registrado2](
	[ID_Paciente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido_Paterno] [varchar](50) NOT NULL,
	[Apellido_Materno] [varchar](50) NOT NULL,
	[Nombre_Completo_Paciente] [varchar](152) NOT NULL,
	[Edad] [int] NOT NULL,
	[Domicilio] [varchar](100) NOT NULL,
	[Enfermedades] [varchar](2) NOT NULL,
	[Padecimientos] [varchar](255) NULL,
	[Alergias] [varchar](2) NOT NULL,
	[Tipo_Alergias] [varchar](255) NULL,
	[Telefono] [int] NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[Antecedentes_Familiares] [varchar](2) NOT NULL,
	[Tipos_Antecedentes] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ticket_Consulta]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ticket_Consulta](
	[ID_Ticket_Consulta] [int] NOT NULL,
	[ID_Paciente] [int] NOT NULL,
	[ID_Medico] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Costo] [money] NOT NULL,
	[Nombre_Empleado] [varchar](100) NOT NULL,
	[ID_Tienda] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tienda]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tienda](
	[ID_Tienda] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[ID_Horario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Informacion_Publica_Cita]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Informacion_Publica_Cita] AS
Select ID_Cita, ID_Paciente, Fecha
from Cita 
GO
/****** Object:  View [dbo].[Paciente_Registrado_Medico]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Paciente_Registrado_Medico] AS
Select ID_Paciente, Nombre_Completo_Paciente, Sexo, Padecimientos, Tipo_Alergias,Tipos_Antecedentes
From Paciente_Registrado

GO
/****** Object:  View [dbo].[Paciente_Ve_Medico]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Paciente_Ve_Medico] AS
Select Nombre_Completo_Medico, Edad, Especialidad
From Medico
GO
/****** Object:  View [dbo].[Pacientes_Mayores_Edad]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Pacientes_Mayores_Edad] AS
Select * 
from Paciente where Edad >=18

GO
/****** Object:  View [dbo].[Pacientes_Menores_Edad]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Pacientes_Menores_Edad] AS
Select * 
from Paciente where Edad < 18
GO
/****** Object:  View [dbo].[Pacientes_No_Registrados]    Script Date: 26/10/2019 14:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Pacientes_No_Registrados] AS
Select * 
from Paciente where Registrado = 'No'

GO
/****** Object:  Index [INDX_Medico_ID]    Script Date: 26/10/2019 14:43:36 ******/
CREATE NONCLUSTERED INDEX [INDX_Medico_ID] ON [dbo].[Medico]
(
	[ID_Medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INDX_Cliente_ID]    Script Date: 26/10/2019 14:43:36 ******/
CREATE NONCLUSTERED INDEX [INDX_Cliente_ID] ON [dbo].[Paciente]
(
	[ID_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Medico_Cita] FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[Medico] ([ID_Medico])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Foreign_ID_Medico_Cita]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Paciente_Cita] FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[Paciente] ([ID_Paciente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Foreign_ID_Paciente_Cita]
GO
ALTER TABLE [dbo].[Informacion_Medico]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Medico] FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[Medico] ([ID_Medico])
GO
ALTER TABLE [dbo].[Informacion_Medico] CHECK CONSTRAINT [Foreign_ID_Medico]
GO
ALTER TABLE [dbo].[Paciente_Registrado]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Paciente] FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[Paciente] ([ID_Paciente])
GO
ALTER TABLE [dbo].[Paciente_Registrado] CHECK CONSTRAINT [Foreign_ID_Paciente]
GO
ALTER TABLE [dbo].[Ticket_Consulta]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Medico_Consulta] FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[Medico] ([ID_Medico])
GO
ALTER TABLE [dbo].[Ticket_Consulta] CHECK CONSTRAINT [Foreign_ID_Medico_Consulta]
GO
ALTER TABLE [dbo].[Ticket_Consulta]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Paciente_Consulta] FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[Paciente] ([ID_Paciente])
GO
ALTER TABLE [dbo].[Ticket_Consulta] CHECK CONSTRAINT [Foreign_ID_Paciente_Consulta]
GO
ALTER TABLE [dbo].[Ticket_Consulta]  WITH CHECK ADD  CONSTRAINT [Foreign_ID_Tienda_Consulta] FOREIGN KEY([ID_Tienda])
REFERENCES [dbo].[Tienda] ([ID_Tienda])
GO
ALTER TABLE [dbo].[Ticket_Consulta] CHECK CONSTRAINT [Foreign_ID_Tienda_Consulta]
GO
ALTER TABLE [dbo].[Informacion_Medico]  WITH CHECK ADD  CONSTRAINT [CH_Edad_InformacionMedico] CHECK  (([Edad]<=(70)))
GO
ALTER TABLE [dbo].[Informacion_Medico] CHECK CONSTRAINT [CH_Edad_InformacionMedico]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [CH_Edad_Medico] CHECK  (([Edad]<=(70)))
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [CH_Edad_Medico]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [CH_Edad] CHECK  (([Edad]<=(115)))
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [CH_Edad]
GO
USE [master]
GO
