USE [master]
GO
/****** Object:  Database [Practica2_Lab_de_base]    Script Date: 07/09/2019 01:51:24 p.m. ******/
CREATE DATABASE [Practica2_Lab_de_base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica2_Lab_de_base', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica2_Lab_de_base.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica2_Lab_de_base_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica2_Lab_de_base_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica2_Lab_de_base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica2_Lab_de_base]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 07/09/2019 01:51:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
