USE [master]
GO
/****** Object:  Database [PracticaUno]    Script Date: 31/08/2019 11:53:31 a.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'PracticaUno')
DROP DATABASE [PracticaUno]
GO
/****** Object:  Database [PracticaUno]    Script Date: 31/08/2019 11:53:31 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'PracticaUno')
BEGIN
CREATE DATABASE [PracticaUno]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticaUno', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PracticaUno.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PracticaUno_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PracticaUno_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticaUno].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
